<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>255268255127-a3uptqolr685lcajsijok8t90srf4iq9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Vf5QfgD7chMT4QVE8SBoJ5AYzRvyCW0</string>
	<key>GCM_SENDER_ID</key>
	<string>255268255127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devhana.front</string>
	<key>PROJECT_ID</key>
	<string>stac-c27d6</string>
	<key>STORAGE_BUCKET</key>
	<string>stac-c27d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255268255127:ios:369fe17b2c1a13704d40d2</string>
	<key>DATABASE_URL</key>
	<string>https://stac-c27d6-default-rtdb.firebaseio.com</string>
</dict>
</plist>